	<div class="navegacion">
		    <div class="row">
		    	<div class="col-xs-2 col-sm-1">
		    		<div class="nav-logo">
			    		<a class="navbar-brand" href="/">
					    	<i class="mdi-content-add-circle"></i>
					    	<!--h5 class="brand"><%= title %><span>&copy</span></h5-->
					    </a>
		    		</div>
		    	</div>
		    	<div class="col-xs-8 col-sm-6 col-md-4">
		    		 <form class="form-inline">
					  <div class="form-group has-error">
					      <input type="search" class="form-control form-control-success" placeholder="Búsqueda médica de manera fácil y completa" name="q" required value="<%=query%>">
					  </div>
					  <button type="submit" class="btn btn-danger">
					  	<i class="mdi-action-search"></i>
					  </button>
					</form>

		    	</div>
		    </div>

		    <ul class="nav navbar-nav navbar-right">
	    	</ul>
</div>
		  